<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.motocatalog.mappers.MotorcycleMapper">
  <resultMap id="motorcycleMap" type="com.example.motocatalog.beans.Motorcycle" autoMapping="true">
    <association property="brand" column="brand_id" javaType="com.example.motocatalog.beans.Brand" autoMapping="true">
      <result property="brandId" column="brand_id"/>
      <result property="brandName" column="brand_name"/>
    </association>
  </resultMap>
  <select id="selectByCondition" resultMap="motorcycleMap">
    SELECT
      mm.moto_no,
      mb.brand_id, 
      mb.brand_name,
      mm.moto_name,
      mm.seat_height,
      mm.cylinder,
      mm.cooling,
      mm.price,
      mm.comment,
      mm.version,
      mm.ins_dt,
      mm.upd_dt 
    FROM 
      m_motorcycle AS mm
    INNER JOIN
      m_brand AS mb 
    ON
      mm.brand_id = mb.brand_id
    <where>
      <if test="brandId != null">
        AND mm.brand_id = #{brandId}
      </if>
      <if test="keyword != null">
        <bind name="likeKeyword" value="'%' + keyword + '%'"/>
        AND mm.moto_name LIKE #{likeKeyword}
      </if>
    </where>
    ORDER BY 
      mm.moto_no
  </select>

  <select id="selectByPK" resultMap="motorcycleMap">
    SELECT
      mm.moto_no,
      mb.brand_id, 
      mb.brand_name,
      mm.moto_name,
      mm.seat_height,
      mm.cylinder,
      mm.cooling,
      mm.price,
      mm.comment,
      mm.version,
      mm.ins_dt,
      mm.upd_dt 
    FROM 
      m_motorcycle AS mm
    INNER JOIN
      m_brand AS mb 
    ON
      mm.brand_id = mb.brand_id
    WHERE
      mm.moto_no = #{motoNo}
    ORDER BY 
      mm.moto_no
    </select>

    <update id="updateByMoto">
      UPDATE
	      m_motorcycle
      SET
        moto_name = #{motoName},
        seat_height = #{seatHeight},
        cylinder = #{cylinder},
        cooling = #{cooling},
        price = #{price},
        comment = #{comment},
        brand_id = #{brand.brandId},
        version = #{version} + 1,
        upd_dt = CURRENT_TIMESTAMP
      WHERE
        moto_no = #{motoNo}
        AND
        version = #{version}
    </update>

    <!-- <select id="selectNewMoto" resultType="int">
      SELECT
        MAX(m_motorcycle.moto_no) + 1
      FROM
        m_motorcycle
      FOR UPDATE
    </select> -->

    <insert id="insert" parameterType="com.example.motocatalog.beans.Motorcycle">
      INSERT INTO
        m_motorcycle (
          moto_name,
          seat_height,
          cylinder,
          cooling,
          price,
          comment,
          brand_id,
          version
        )
      VALUES (
        #{motoName},
        #{seatHeight},
        #{cylinder},
        #{cooling},
        #{price},
        #{comment},
        #{brand.brandId},
        1
      )
    </insert>
</mapper>